<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>
<body>
  <h1>Index</h1>
  <% if (typeof user !== "undefined") { %>
    <%= user.nickname %>
    (point : <%= user.point %>)
    &nbsp;
    <a href="/logout?next=/"><button type="button">로그아웃</button></a>
    <a href="/point"><button type="button">포인트 충전</button></a>
  <% } %>
  <ul>
    <li><a href="/login">Let's Login</a></li>
    <li><a href="/page/1">Page 1</a></li>
  </ul>
</body>
</html>
