<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>
<body>
  <a href="/">index</a>
  <% if (session.user) { %>
    <h3>Hello, <%= session.user.nickname %></h3>
    <a href="/logout"><button type="button">로그아웃</button></a>
  <% } else { %>
    <h1>Let's Login</h1>
    <form method="POST" action="/login">
      <p><input type="email" name="email" placeholder="이메일"></input></p>
      <p><input type="password" name="password" placeholder="비밀번호"></input></p>
      <p>
        <input type="submit" value="로그인"></input>
        <a href="/signup"><button type="button">회원가입</button></a>
      </p>
    </form>
  <% } %>

  <!-- ejs -->
  <% if (typeof success !== "undefined") { %>
    <% if (success === true) { %>
      <script>alert("<%- email %> 로그인 성공");</script>
    <% } else if (success === false) { %>
      <script>alert("아이디 또는 비밀번호를 틀렸습니다.");</script>
    <% } %>
  <% } %>
</body>
</html>
