<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/sign.css">
    <link rel="stylesheet" href="/css/util.css">
    <title>Login</title>
</head>

<body>
<% if (typeof session.message != "undefined" && session.message) { %>
    <script>
        alert("<%= session.message %>");
    </script>
    <% session.message = null; %>
<% } %>

<div class="center"><form class="form-signin" method="POST" action="/login">
    <div style="margin-bottom: 40px;">
        <h1 class="h3 font-weight-bold text-center" ><a href="/" class="text-dark">Animals-Online</a></h1>
    </div>
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email Address" required autofocus>
    </div>
    <div class="mb-4">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" required>
    </div>
    <div class="mb-3">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </div>
    <div class="mb-3 text-center">
        <span class="fs-18 mr-2" style="display: inline-block;">No Account?</span>
        <a class="font-weight-bold" href="/signup">Sign up</a>
    </div>
    <div class="my-2">
        <p class="text-muted text-center">&copy; 2019 JDPDB</p>
    </div>
</form>

</div>

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

</body>
</html>
