<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>포인트 충전</title>
</head>
<body>
  <a href="/">index</a>
  <h1>포인트 충전</h1>
  <%= user.nickname %>
  (현재 포인트 : <%= user.point %>)
  <form method="POST" action="/point">
    <p>
      <label for="amount">충전 금액 : </label>
      <input type="text" id="amount" name="amount" placeholder="원 단위"></input>
    </p>
    <p>
      <label>결제 수단 : </label>
      <select size="1">
        <option selected>신용카드</option>
        <option>계좌이체</option>
        <option>무통장입금</option>
      </select>
    </p>
    <p><button type="submit">포인트 충전</button></p>
  </form>

  <% if (typeof session.message != "undefined" && session.message) { %>
    <script>
      alert("<%= session.message %>");
    </script>
    <% session.message = null; %>
  <% } %>
</body>
</html>
