<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search Results</title>
</head>
<body>
  <a href="/">index</a>
  <h1>Search Results</h1>

  <h3>페이지 검색 결과</h3>
  <ul>
    <% for (let page of pagesSearchedByName) { %>
      <li><a href="/page/<%= page.id %>"><%= JSON.stringify(page) %></a></li>
    <% } %>
  </ul>

  <hr>

  <h3>포스트 검색 결과</h3>
  <ul>
    <% for (let post of postsSearchedByTag) { %>
      <li><a href="/page/<%= post.page_id %>"><%= JSON.stringify(post) %></a></li>
    <% } %>
  </ul>

</body>
</html>
