<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Upload</title>
</head>
<body>
  <a href="/">index</a>
  <h1>사진 업로드 테스트</h1>
  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required></input>
    <button type="submit">업로드</button>
  </form>
</body>
</html>
