<!DOCTYPE html>
<html lang="en">
<head>
  <% include common/header.ejs %>
  <link rel="stylesheet" type="text/css" href="../css/menu.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title> index </title>
</head>
<body>
 <% include common/menu.ejs %>

 <main role="main">
     <div class="container" style="margin-top:30px">
        <%include contents/main/index_main.ejs%>
     </div>
 </main>


</body>
</html>
