<!DOCTYPE html>
<html>
<head>
  <%include common/header.ejs %>
    <link rel="stylesheet" type="text/css" href="./css/login.css"/>
  <title>Login</title>
</head>
<body>
  <%include common/top.ejs%>
  <%include contents/login/content_login.ejs%>
</body>
</html>
