<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/header.ejs %>
    <link rel="stylesheet" type="text/css" href="../css/menu.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title> index </title>
</head>
<body>
<% include common/menu.ejs %>

<h1>Page</h1>

<p>

</p>


</body>
</html>
