<!DOCTYPE html>
<html>
<head>
    <%include common/header.ejs %>
    <link rel="stylesheet" type="text/css" href="css/sign.css"/>
    <title>signup</title>
</head>
<body>
<% include common/menu.ejs %>
<% include contents/form/form_signup.ejs %>

<!-- ejs -->
<% if (typeof success !== "undefined") { %>
    <% if (success === true) { %>
        <script>alert("<%- email %> 로그인 성공");</script>
    <% } else if (success === false) { %>
        <script>alert("아이디 또는 비밀번호를 틀렸습니다.");</script>
    <% } %>
<% } %>

</body>
</html>
