body {
    padding-top: 56px;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    position: absolute;
    width: 250px;
    height: 100%;
    top: 15px;
    z-index: 999;
    background: lightgrey;
    color: gray;
    transition: all 0.3s;
}