
#search{
    background-color: gray;
    border-color: gray;
    color: #fefefe;
}
#search:focus{
    background-color: white;
    color: #0C0E10;
}
#search::placeholder{
    color:lightgrey;
}
#search:focus::placeholder{
    color: gray;
}

.menu{
    font-size: x-large;
}
