<div class="container" style="margin-top:30px">
    <div class="wrapper">
        <h3>인기 페이지</h3>
        <ol>
            <li>dommy 1</li>
            <li>dommy 2</li>
            <li>dommy 3</li>
        </ol>

        <hr/>
        <h3>최근 포스팅 페이지</h3>
        <ul>
            <li>dommy 1</li>
            <li>dommy 2</li>
            <li>dommy 3</li>
        </ul>
        <hr/>
        <h3>모든 페이지</h3>
        <ul>
            <li>dommy 1</li>
            <li>dommy 2</li>
            <li>dommy 3</li>
        </ul>
        <hr/>
    </div>
</div>