
#search{
    background-color: rgb(63,68,72);
    border: 0;
    color: #fefefe;
}
#search:focus{
    background-color: white;
    color: #0C0E10;
}
#search::placeholder{
    color:lightgrey;
}
#search:focus::placeholder{
    color: gray;
}

.menu{
    font-size: x-large;
}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px; }
.panel-body .table {margin-bottom: 0px; }

@media (max-width: 1100px) {
    #site-title {
        display: none;
    }
}
